<div class="col-12 col-md-3">
    <div class="single-hot-deals">
        {% if forloop.counter|divisibleby:4 %}
            <div class="row">
                    {% endif %}
                    <!-- Start Single-hot-deals -->
                    <div class="col-12">
                        <div class="single-hot-deals">
                            <div class="hot-deals-photo">
                                <a href="{% url 'product' slug=product.slug %}">
                                    <img src="{{ product.images.all.0.image.url }}" alt="Product">
                                </a>
                            </div>
                            <div class="count-down">
                                <div class="timer">
                                    <div data-countdown="2023/09/26"></div>
                                </div>
                            </div>
                            <div class="hot-deals-text">
                                <h5><a href="{% url 'product' slug=product.slug %}" class="name-group">{{ product.title }}</a></h5>
                                <span class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
                                <div class="price-box">
                                    <span class="price gfont-2">{{ product.price }}₴</span>
                                    <span class="old-price gfont-2">
                                        {% if product.old_price %}{{ product.old_price }}₴{% endif %}
                                    </span>
                                </div>
                                <div class="hot-deals-button">
                                    <button><i class="fa fa-plus"></i> Add to Cart</button>
                                    <div class="hot-deals-button-2">
                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                                        <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single-hot-deals -->

                    {% if forloop.counter|divisibleby:4 or forloop.last %}
                        </div>
                    {% endif %}
                </div>
            </div>