{%extends 'layout/base.html' %}
{% load static %}
{% block main %}
<!-- Add your site or application content here -->
<!-- HEADER-AREA START -->
<!-- HEADER AREA END -->
<!-- START PAGE-CONTENT -->
<section class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="page-menu">
					<li><a href="index.html">Home</a></li>
					<li class="active"><a href="#">Wish List</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<!-- CATEGORY-MENU-LIST START -->
				{% include 'left-menu-category.html' %}
				<!-- END CATEGORY-MENU-LIST -->
			</div>
			<div class="col-lg-9">
				<!-- START PRODUCT-BANNER -->
				<div class="product-banner">
					<div class="row">
						<div class="col-12">
							<div class="banner">
								<a href="#"><img src="img/banner/12.jpg" alt="Product Banner"></a>
							</div>
						</div>
					</div>
				</div>
				<!-- END PRODUCT-BANNER -->
				<div class="Wishlist-area">
					<h2>My Wish List</h2>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<td class="text-center">Image</td>
									<td class="text-left">Product Name</td>
									<td class="text-left">Model</td>
									<td class="text-right">Stock</td>
									<td class="text-right">Unit Price</td>
									<td class="text-right">Action</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">
										<a href="#"><img src="img/product/cart/3.jpg" alt="#" /></a>
									</td>
									<td class="text-left">
										<a href="#">Prod Aldults</a>
									</td>
									<td class="text-left">Product 9</td>
									<td class="text-right">In Stock</td>
									<td class="text-right">
										<div class="price-box">
											<span class="price">$100.00</span>
										</div>
									</td>
									<td class="text-right">
										<button class="btn btn-primary" data-toggle="tooltip" title="Add to Cart" type="button">
											<i class="fa fa-shopping-cart"></i>
										</button>
										<a href="#" class="btn btn-danger" data-toggle="tooltip" title="Remove">
											<i class="fa fa-times"></i>
										</a>
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<a href="#"><img src="img/product/cart/4.jpg" alt="#" /></a>
									</td>
									<td class="text-left">
										<a href="#">Prod Aldults</a>
									</td>
									<td class="text-left">Product 9</td>
									<td class="text-right">In Stock</td>
									<td class="text-right">
										<div class="price-box">
											<span class="price">$45.00</span>
											<span class="old-price">$100.00</span>
										</div>
									</td>
									<td class="text-right">
										<button class="btn btn-primary" data-toggle="tooltip" title="Add to Cart" type="button">
											<i class="fa fa-shopping-cart"></i>
										</button>
										<a href="#" class="btn btn-danger" data-toggle="tooltip" title="Remove">
											<i class="fa fa-times"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="buttons clearfix pull-right">
						<a href="#" class="btn btn-primary">Continue</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- START BRAND-LOGO-AREA -->
	<div class="brand-logo-area carosel-navigation">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="area-title">
						<h3 class="title-group border-red gfont-1">Brand Logo</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="active-brand-logo">
					<div class="col-lg-12">
						<div class="single-brand-logo">
							<a href="#"><img src="img/brand/1.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand-logo">
							<a href="#"><img src="img/brand/2.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand-logo">
							<a href="#"><img src="img/brand/3.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand-logo">
							<a href="#"><img src="img/brand/4.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand-logo">
							<a href="#"><img src="img/brand/5.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand-logo">
							<a href="#"><img src="img/brand/6.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand-logo">
							<a href="#"><img src="img/brand/1.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand-logo">
							<a href="#"><img src="img/brand/2.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand-logo">
							<a href="#"><img src="img/brand/3.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END BRAND-LOGO-AREA -->
	<!-- START SUBSCRIBE-AREA -->
	<div class="subscribe-area">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-8 col-md-6 col-12">
					<label>Sign Up for Our Newsletter:</label>
					<div class="subscribe">
						<form action="#">
							<input type="text" placeholder="Enter Your E-mail">
							<button type="submit">Subscribe</button>
						</form>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="social-media">
						<a href="#"><i class="fa fa-facebook fb"></i></a>
						<a href="#"><i class="fa fa-google-plus gp"></i></a>
						<a href="#"><i class="fa fa-twitter tt"></i></a>
						<a href="#"><i class="fa fa-youtube yt"></i></a>
						<a href="#"><i class="fa fa-linkedin li"></i></a>
						<a href="#"><i class="fa fa-rss rs"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END SUBSCRIBE-AREA -->
</section>
<!-- END PAGE-CONTENT -->
<!-- FOOTER-AREA START -->
<footer class="footer-area">
	<!-- Footer Start -->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3">
					<div class="footer-title">
						<h5>My Account</h5>
					</div>
					<nav>
						<ul class="footer-content">
							<li><a href="my-account.html">My Account</a></li>
							<li><a href="#">Order History</a></li>
							<li><a href="wishlist">Wish List</a></li>
							<li><a href="#">Search Terms</a></li>
							<li><a href="#">Returns</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="footer-title">
						<h5>Customer Service</h5>
					</div>
					<nav>
						<ul class="footer-content">
							<li><a href="contact.html">Contact Us</a></li>
							<li><a href="about.html">About Us</a></li>
							<li><a href="#">Delivery Information</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms & Conditions</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="footer-title">
						<h5>Payment & Shipping</h5>
					</div>
					<nav>
						<ul class="footer-content">
							<li><a href="#">Brands</a></li>
							<li><a href="#">Gift Vouchers</a></li>
							<li><a href="#">Affiliates</a></li>
							<li><a href="shop-list.html">Specials</a></li>
							<li><a href="#">Search Terms</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="footer-title">
						<h5>Payment & Shipping</h5>
					</div>
					<nav>
						<ul class="footer-content box-information">
							<li>
								<i class="fa fa-home"></i><span>Towerthemes, 1234 Stret Lorem, LPA States, Libero</span>
							</li>
							<li>
								<i class="fa fa-envelope-o"></i><p><a href="contact.html">admin@bootexperts.com</a></p>
							</li>
							<li>
								<i class="fa fa-phone"></i>
								<span>01234-56789</span> <br> <span> 01234-56789</span>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer End -->
	<!-- Copyright-area Start -->
	<div class="copyright-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="copyright">
						<p>Copyright &copy; <a href="http://bootexperts.com/" target="_blank"> BootExpert</a> All rights reserved.</p>
						<div class="payment">
							<a href="#"><img src="img/payment.png" alt="Payment"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Copyright-area End -->
</footer>
<!-- FOOTER-AREA END -->
{% endblock main %}