<div class="col-lg-3 col-md-4 col-6" style="height: 100%; display: flex; flex-direction: column;">
      <div class="single-product" style="height: 100%; display: flex; flex-direction: column;">
          <div class="label_new">
              <span class="new">new</span>
          </div>
          <div class="sale-off">
              <span class="sale-percent">{% if product.discount %}{{ product.discount }}%{% endif %}</span>
          </div>
          <div class="product-img">
              <a href="{% url 'product' slug=product.slug %}">
                  <img class="primary-img" src="{{ product.images.all.0.image.url }}" alt="Product" style="max-width: 100%; max-height: 200px;">
                  {% if product.images.all.1 %}
                  <img class="secondary-img" src="{{ product.images.all.1.url }}" alt="Product" style="max-width: 100%; max-height: 200px;">
                  {% endif %}
              </a>
          </div>
          <div class="product-description">
              <h5><a href="#">{{ product.title }}</a></h5>
              <div class="price-box">
                  <span class="price">{{ product.price }}₴</span>
                  <span class="old-price">{% if product.old_price %}{{ product.old_price }}₴{% endif %}</span>
              </div>
              <span class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
              </span>
              <p class="description">
                  {% if product.description|length > 30 %}
                      {{ product.description|slice:":30" }}...
                  {% else %}
                      {{ product.description }}
                  {% endif %}
              </p>
              <div class="product-action">
                  <div class="button-group">
                      <div class="product-button">
                          <button><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                      </div>
                      <div class="product-button-2">
                          <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                          <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>
                          <a href="#" class="modal-view" data-toggle="modal" data-target="#productModal"
                              title="Quickview"><i class="fa fa-search-plus"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% if forloop.counter|divisibleby:4 and not forloop.last %}
</div>
<div class="row">
  {% endif %}